<div class="container">
    <section id="left-section">
        <h1></h1>
        <input type="text" placeholder="Insert title here" class="title">
        <div contenteditable="true" dndDropzone (dndDrop)="onDrop($event,dropTools)" id="canvas-section">

            
        </div>
    </section>
    
    <section id="right-section">
    
        <h2>Elements</h2>
        <div class="tools" *ngFor="let tool of dragTools">
            <div class="" [dndDraggable]="tool" [dndEffectAllowed]="'move'">
                <h5>{{tool.type}}</h5>
            </div>
        </div>
    
    </section>
</div>